---
import Instagram from "../icons/Instagram.astro";
import Linkedin from "../icons/Linkedin.astro";
import type { Speaker } from "../interfaces/speakersInterfaces";

const props: Speaker = Astro.props as Speaker;
---

<div class="flex flex-col items-center justify-center p-12 text-white">
  <div class="relative h-80 w-80 overflow-hidden rounded-2xl">
    <div
      class={`absolute inset-0 z-10 flex items-center justify-center transition-opacity duration-300 ${
        props.revealed ? "opacity-0" : "opacity-100"
      }`}
    >
      <span class="text-6xl font-bold text-[#4287f5]">?</span>
    </div>
    <img
      src={props.image}
      alt={props.name}
      class={`absolute inset-0 w-full h-full object-cover transition-all duration-300 ${
        props.revealed
          ? "filter-none"
          : "filter blur-3xl [filter:pixelate(10px)]"
      }`}
    />
  </div>
  <div
    class={`mt-4 text-start transition-all duration-300 h-full w-[400px]  ${
      props.revealed ? "filter-none" : "filter blur-md [filter:pixelate(10px)]"
    }`}
  >
    <h3 class="text-xl font-bold">{props.name}</h3>
    <p class="text-sm text-gray-300 justify-normal">{props.description}</p>
    <div class="mt-2 flex justify-start gap-4">
      <a href={props.linkedin} target="_blank">
        <Linkedin />
      </a>
      <a href={props.instagram} target="_blank">
        <Instagram />
      </a>
    </div>
  </div>
</div>
